<h1>Label: <%= @label.name %></h1>
<div class="transitions-enabled" id="posts">
  <% @label.posts.each do |post| %>
    <div class="box panel panel-default">
      <% if post.embedlink? %>
        <p class="embedly">
          <%= link_to post.embedlink, post.embedlink, class: 'embedly-card'%>
        </p>
      <% else %>
        <%= link_to project_post_path(post.project, post) do %>
          <%= cl_image_tag(post.picture_url, :default_image => post.picture.url) %>
        <% end %>
      <% end %>
      <p class="user">
        <%= post.title %>
      </p>
    </div>
  <% end %>
</div>
