<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"
 type="text/javascript"></script>

<h2><%=@project.title%></h2>

<p><%=@project.description %></p>

<div class="transitions-enabled" id="posts">
  <% @project.posts.each do |post| %>
  <div class="box panel panel-default">
    <% if post.embedlink? %>
      <p class="embedly">
        <%= link_to project_post_path(@project, post) do %>
            <%= link_to post.embedlink, post.embedlink, class: 'embedly-card falseClick' %>
        <% end %>
      </p>
    <% else %>
      <%= link_to project_post_path(@project, post) do %>
        <%= cl_image_tag(post.picture_url, :default_images => post.picture.url) %>
      <% end %>
    <% end %>
    <p class="user">
      <%= post.title %>
    </p>
  </div>
  <% end %>
</div>
<div>
<%= link_to "New Post", new_project_post_path(@project), class: 'btn btn-primary' %>
<%= link_to "Back to Projects", user_path, class: 'btn btn-default' %>
</div>
