<h1><%= @project.title %></h1>

<p><%=@project.description %></p>

<% @project.posts.each do |post| %>
<!--
<h4><%= link_to post.title, project_post_path(@project, post) %></h4>
-->
  <%= link_to project_post_path(@project, post) do %>
    <%= cl_image_tag(post.picture_url(:large), width: 200, height: 200, :default_image => post.picture.url) %>
  <% end %>
<% end %>

<%= link_to "New Post", new_project_post_path(@project), class: 'btn btn-success' %>
