<h1><%= @post.title %></h1>

<p>
 <a href="http://embed.ly" class="embedly-card">Embedly</a>
</p>

<p><%= @post.description %>

<%= cl_image_tag(@post.picture_url(:large), width: 200, height: 200, :default_image => @post.picture.url) %>

<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>

<%= link_to "Delete Post", @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
